<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>    
body {
          background-image: url("epic.jpg")
        
      }
     h1 {
         font: italic bold Georgia,;
         color: white;
        }     
     p {
       font: bold;
       color: white;
</body>
          </html
