body {
          background-image: url("epic.jpg")
        
      }
     h1 {
         font: italic bold Georgia,;
         color: white;
        }     
     p {
       font: bold;
       color: white;
}    

ui {
          font: bold;
          color: white;
}
          
li {
     font: bold;
     color: white;
}
</body>
          </html>
